.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
npm-debug.log
yarn-error.log
